@import "../shared/variables";

.user--button {
  position: fixed;
  top: 43px;
  right: 25px;
  width: 50px;
  height: 50px;
  background: $color-4th;
  z-index: 99;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all .5s ease-in-out;

  &.open {
    .user--button__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
      &:before {
        transform: rotate(45deg) translate(35px, -35px);
      }

      &:after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }
  }

  &__burger {
    width: 25px;
    height: 4px;
    background: $primary-background-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(24, 144, 255, .2);
    transition: all .5s ease-in-out;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 25px;
      background: $primary-background-color;
      height: 4px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(24, 144, 255, .2);
      transition: all .5s ease-in-out;
    }

    &:before {
      transform: translateY(-10px);
    }

    &:after {
      transform: translateY(10px);
    }
  }
}

@media screen and (max-width: 768px) {
  .user--button {
    display: flex;
  }
}
