@import "../shared/variables";

.dashboard--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../../images/user/moonlight.svg") bottom no-repeat;
    background-size: cover;
  }

  .dashboard--wrapper__top {
    background: $primary-background-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    margin: 30px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    .dashboard--top__ls {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 30px;
      .top--ls__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }

      .top--ls__header {
        display: flex;
        justify-content: space-between;
        .top--ls__title {
          color: $color-4th;
          font-size: 26px;
        }
        .top--ls__date {
          color: #94949a;
          font-weight: bold;
          font-size: 14px;
        }
      }

      .top--ls__info {
        border: 1px solid $border-color;
        border-radius: 10px;
        overflow: hidden;

        .top--ls--info__header {
          padding: 10px 0 10px 20px;
          border-bottom: 1px solid $border-color;
          font-size: 18px;
          color: $secondary-text-color;
          font-weight: 600;
        }

        .top--ls--info__content {
          padding: 15px;
          display: flex;
          flex-wrap: wrap;
          .top--info {
            padding: 10px;
            .top--info__label {
              color: $color-1st;
              font-size: 16px;
              font-weight: bold;
            }
            .top--info__value {
              .top--info__tag {
                margin: 8px 8px 0 0 !important;
              }
              .top--info__value__confirm {
                color: $color-success;
              }
              .top--info__value__not__confirm {
                color: $color-danger;
              }
            }
          }
        }

        .top--info__buttons {
          a {
            display: block;
            border-top: 1px solid $border-color;
            padding: 10px 0 15px 20px;
            color: $color-1st;
            cursor: pointer;
            font-weight: 600;
            transition: background-color .3s ease-in-out;

            &:hover {
              background: rgba(240, 240, 240, 1);
            }
          }
        }
      }
    }

    .dashboard--top__rs {
      padding: 20px;
      display: flex;
      width: 200px;
      .dashboard--top__img {
        width: 100%;
      }
    }
  }
  .dashboard--wrapper__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .dashboard--content__box {
      background: $primary-background-color;
      position: relative;
      width: 400px;
      margin: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      border: 1px solid $border-color;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      .content--box__ts {
        display: flex;
        flex-grow: 1;
        .content--ts__ls {
          padding: 20px;
          .content--box__title {
            padding-bottom: 20px;
            font-size: 22px;
            font-weight: 600;
            overflow: hidden;
            color: $secondary-text-color;
          }

          .content--box__text {
            color: #4b5c6e;
          }
        }
        .content--ts__rs {
          width: 270px;
          padding: 20px;
          display: flex;
          .content--ts__img {
            width: 100%;
          }
        }
      }

      .content--box__btn {
        position: relative;
        overflow: hidden;
        border-top: 1px solid $border-color;
        a {
          display: block;
          height: 100%;
          padding: 10px 0 15px 20px;
          overflow: hidden;
          border-radius: 0 0 10px 10px;
          letter-spacing: .5px;
          transition: background-color .3s ease-in-out;
          font-size: 16px;
          font-weight: 600;
          word-break: break-word;
          color: $color-4th;
          &:hover {
            background: rgba(240, 240, 240, 1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .dashboard--wrapper {
    .dashboard--wrapper__top {
      flex-direction: column-reverse;
      .dashboard--top__ls {

        .top--ls__header {
          flex-wrap: wrap;
          margin-bottom: 15px;
          .top--ls__title {
            width: 100%;
            text-align: center;
          }
          .top--ls__date {
            width: 100%;
            text-align: center;
          }
        }
      }

      .dashboard--top__rs {
        padding: 0;
        transform: translateY(-30px);
        justify-content: center;
        width: 100%;
        .dashboard--top__img {
          width: 200px;
        }
      }
    }

    .dashboard--wrapper__content {
      .dashboard--content__box {
        width: 500px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .dashboard--wrapper {
    .dashboard--wrapper__top {
      margin: 30px 30px 20px 30px;
    }

    .dashboard--wrapper__content {
      .dashboard--content__box {
        margin: 20px 0;
      }
    }
  }
}


@media screen and (max-width: 576px) {
  .dashboard--wrapper {
    .dashboard--wrapper__top {
      margin: 30px 0 15px 0;
      .dashboard--top__ls {
        .top--ls__header {
          .top--ls__title {
            font-size: 22px;
          }
        }

        .top--ls__info {
          border: 1px solid $border-color;
          border-radius: 10px;
          overflow: hidden;

          .top--ls--info__header {
            padding: 10px 0 10px 0;
            text-align: center;
            font-size: 16px;
          }


          .top--info__buttons {
            a {
              padding: 10px 0 15px 0;
              text-align: center;
            }
          }
        }
      }
    }

    .dashboard--wrapper__content {
      .dashboard--content__box {
        margin: 15px 0;
        width: 100%;
        .content--box__ts {
          .content--ts__rs {
            width: 200px;
            padding: 0 10px 0 0;
            .content--ts__img {

            }
          }
        }
        .content--box__btn {
          a {
            padding: 10px 0;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .dashboard--wrapper {
    .dashboard--wrapper__top {
      .dashboard--top__ls {
        padding: 0 15px 15px 15px;
        .top--ls__header {
          .top--ls__title {
            font-size: 22px;
          }
        }
      }

      .dashboard--top__rs {
        .dashboard--top__img {
          width: 150px;
        }
      }
    }
    .dashboard--wrapper__content {
      .dashboard--content__box {
        height: auto;
        .content--box__ts {
          flex-direction: column-reverse;
          flex-wrap: wrap;
          .content--ts__ls {
            text-align: center;
            .content--box__title {
            }
          }
          .content--ts__rs {
            width: 100%;
            height: 150px;
            padding: 10px 0;
            .content--ts__img {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
