@import "../shared/variables";

.employees--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  &__top {
    max-width: 800px;
    border: 1px solid $border-color;
    border-radius: 10px;
    background: $primary-background-color;
    margin-top: 30px;
    .wrapper--top__title {
      margin: 0;
      display: flex;
      padding: 10px;
      border-bottom: 1px solid $border-color;
      font-size: 24px;
      color: $color-4th;
      justify-content: center;
      align-items: center;
    }
    .wrapper--top__statistic {
      display: flex;
      .top--statistic__ls {
        max-width: 500px;
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
        .statistic--ls__title {
          display: flex;
          align-items: center;
          font-size: 16px;
          padding: 0 10px;
          color: $primary-text-color;
        }
        .statistic--ls__img {
          max-width: 200px;
          padding: 0 15px;
          .statistic--ls__img__employees {
            width: 100%;
          }
        }
      }
      .top--statistic__rs {
        padding: 10px 0;
        line-height: 30px;
        .statistic--rs__box {
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          margin: 5px 5px 0 0;
          .rs--box__title {
            padding: 0 5px;
          }
          .rs--box__value {
            padding: 0 20px;
          }
        }

        .statistic--rs__total {
          color: #1890ff;
          background: #e6f7ff;
          border: 1px solid #91d5ff;
        }
        .statistic--rs__owner {
          color: #faad14;
          background: #fffbe6;
          border: 1px solid #ffe58f;
        }

        .statistic--rs__manager {
          color: #52c41a;
          background: #f6ffed;
          border: 1px solid #b7eb8f;
        }

        .statistic--rs__employee {
          color: #1890ff;
          background: #e6f7ff;
          border: 1px solid #91d5ff;
        }
      }
    }

    .wrapper--top__button {
      display: block;
      border-top: 1px solid $border-color;
      padding: 10px 0 15px 20px;
      color: $color-1st;
      border-radius: 0 0 10px 10px;
      cursor: pointer;
      font-weight: 600;
      transition: background-color .3s ease-in-out;
      &:hover {
        background: rgba(240, 240, 240, 1);
      }
    }
  }

  &__content {
    width: 100%;
    .ant-table-wrapper {
      margin: 30px;
      .ant-table-thead > tr > th {
        color: #fff;
        background: $color_4th;
        border-bottom: 1px solid $color-3th;
      }
    }

    .table--employee__name {
      color: $color-3th;
    }
    .tag {
      padding: 5px 7px;
      border-radius: 5px;
      &.table--employee__success {
        color: #1890ff;
        background: #e6f7ff;
        border: 1px solid #91d5ff;
      }
      &.table--employee__dismiss {
        color: #f5222d;
        background: #fff1f0;
        border: 1px solid #ffa39e;
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .employees--wrapper {
    &__top {
      .wrapper--top__statistic {
        flex-direction: column;
        .top--statistic__ls {

        }
        .top--statistic__rs {
          margin: 5px 15px;
          .statistic--rs__box {
            margin: 5px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 576px) {
  .employees--wrapper {
    &__top {
      .wrapper--top__title {
        font-size: 22px;
      }
    }
  }
}



@media screen and (max-width: 480px) {
  .employees--wrapper {
    &__top {
      .wrapper--top__title {
        font-size: 18px;
        text-align: center;
      }
      .wrapper--top__statistic {
        .top--statistic__ls {
          padding: 10px 20px;
          flex-direction: column-reverse;
          align-items: center;
          .statistic--ls__title {
            padding: 10px;
          }
        }
      }
    }
    &__content {
      .ant-table-wrapper {
        padding: 5px;
        margin: 20px 0;
      }
    }
  }
}
