@import "../shared/variables";

.form--create--employee, .form--edit--employee {
  .form--employee__btn__department {
    margin: 10px 0;
    display: flex;
    flex-direction: row-reverse;
  }
}

.form--edit--employee {
  &__loader {
    min-height: 400px;
    text-align: center;
    line-height: 400px;
  }
}

.employee--confirm--content {
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .employee--confirm__title {
    color: $primary-text-color;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }

  .employee--confirm__value.name {
    color: $color-3th;
  }
  .employee--confirm__value.email {
    color: $color-1st;
  }
  .employee--confirm__value.department {
    color: $primary-text-color;
  }
  .employee--confirm__value {
    .status {
      padding: 5px 7px;
      border-radius: 5px;
      &.status--success {
        color: $color-success;
        background: #f6ffed;
        border: 1px solid #b7eb8f;

      }
      &.status--dismiss {
        color: #f5222d;
        background: #fff1f0;
        border: 1px solid #ffa39e;
      }
    }
  }
}
