@import "../shared/variables";

.user--edit--wrapper {
  margin: 0 auto;
  padding: 30px;
  .user--edit {
    max-width: 1000px;
    border: 1px solid $border-color;
    border-radius: 25px;

    .user--edit--header {
      border-bottom: 1px solid $border-color;
      padding: 10px 20px;
      .user--header__title {
        color: $primary-text-color;
        font-size: 24px;
        font-weight: 600;
        margin: 0;
      }
    }

    .user--edit--content {
      display: flex;
      justify-content: space-evenly;
      .user--content--loader {
        width: 500px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .user--content--ls {
        padding: 30px;
        border-right: 1px solid $border-color;

        .form--edit--regular {
          width: 300px;
        }
      }
      .user--content--rs {
        padding: 30px;

        .content--rs--title {
          display: none;
        }

        .form--check--password, .form--edit--password {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .user--edit--wrapper {
    padding: 30px 5px;
  }
}

@media screen and (max-width: 992px) {
  .user--edit--wrapper {
    padding: 30px;
    width: 100%;
    .user--edit {

      .user--edit--header {

        .user--header__title {
          text-align: center;
        }
      }

      .user--edit--content {
        flex-direction: column;

        .user--content--loader {
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .user--content--ls {
          border: 0;
          .form--edit--regular {
            width: 100%;
          }
        }
        .user--content--rs {
          border-top: 1px solid $border-color;
          padding: 0;

          .content--rs--title {
            display: block;
            font-size: 24px;
            color: $primary-text-color;
            font-weight: 600;
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid $border-color;
          }

          .content--rs--top, .content--rs--bottom {
            padding: 30px;
          }

          .form--check--password, .form--edit--password {
            width: 100%;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 576px) {
  .user--edit--wrapper {
    padding: 20px 0;

    .user--edit {
      .user--edit--header {
        .user--header__title {
          font-size: 20px;
        }
      }

      .user--edit--content {
        .user--content--rs {
          .content--rs--title {
            font-size: 20px;
          }

          .content--rs--top, .content--rs--bottom {
            padding: 15px;
          }

          .form--check--password, .form--edit--password {

          }
        }
      }
    }
  }
}
