@import "../shared/_variables.css";

.page--404 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page--404 .page--404__background {
  width: 600px;
}

.page--404 .page--404__background .page--404__img {
  width: 100%;
}

.page--404__content {
  margin-top: 50px;
}

.page--404__content .page--404__title {
  font-size: 26px;
  color: var(--primary-text-color);
}

.page--404__content .page--404__btn__back {
  padding: 10px 15px;
  cursor: pointer;
  background: var(--color-3th);
  color: #fff;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  transition: opacity .3s ease-in;
  opacity: .7;
}

.page--404__content .page--404__btn__back:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .page--404 .page--404__background {
    width: 100%;
    padding: 0 25px;
  }
}

@media screen and (max-width: 480px) {
  .page--404__content {
    margin-top: 30px;
  }

  .page--404__content .page--404__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .page--404__content .page--404__btn__back {
    font-size: 16px;
  }
}
