@import "../shared/_variables.css";

.welcome--background {
	display: flex;
	flex-direction: column;
}

.welcome--background:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: url("../../images/welcome/dark_mode.svg") right no-repeat;
	background-size: contain;
}

.welcome--background .welcome--wrapper {
	z-index: 1;
	width: 500px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 9px rgba(47, 46, 65, 0.3), 0 4px 9px rgba(47, 46, 65, .4);
	background: var(--secondary-background-color);
	border-radius: 10px;
	position: relative;
	padding: 30px;
	color: #fff;
}

.welcome--background .welcome--wrapper .welcome--wrapper__title {
	color: #fff;
	position: relative;
	display: flex;
	flex-grow: 0;
	justify-content: center;
	padding: 10px 0;
}

.welcome--background .welcome--wrapper .welcome--wrapper__title:before,
.welcome--background .welcome--wrapper .welcome--wrapper__title:after {
	content: '';
	position: absolute;
	height: 4px;
	background: #6c63ff;
	width: 20%;
	border-radius: 10px;
}

.welcome--background .welcome--wrapper .welcome--wrapper__title:before {
	top: 0;
	left: 0;
}

.welcome--background .welcome--wrapper .welcome--wrapper__title:after {
	bottom: 0;
	right: 0;
}

.welcome--background .welcome--wrapper .welcome--wrapper__text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 18px;
	line-height: 30px;
}

.welcome--background .welcome--wrapper .welcome--wrapper__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
}

.welcome--background .welcome--wrapper .welcome--wrapper__footer .welcome--wrapper__register,
.welcome--background .welcome--wrapper .welcome--wrapper__footer .welcome--wrapper__login {
	color: var(--primary-text-color);
	border: 1px solid var(--border-color);
	background: #fff;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 15px;
	font-weight: bold;
	cursor: pointer;
	transition: all .3s ease-in-out;
	opacity: .7;
}

.welcome--background .welcome--wrapper .welcome--wrapper__footer .welcome--wrapper__register:hover,
.welcome--background .welcome--wrapper .welcome--wrapper__footer .welcome--wrapper__login:hover {
	opacity: 1;
}

.welcome--background .welcome--wrapper .welcome--wrapper__footer .welcome--wrapper__login {
	background: #504ba8;
	border: 1px solid #433bce;
	color: #fff;
}


@media screen and (max-width: 576px) {
	.welcome--background {
		justify-content: center;
		align-items: center;
		padding-top: 50px;
	}

	.welcome--background .welcome--wrapper {
		width: 100%;
		border-radius: 15px;
		margin: 0;
	}
}

@media screen and (max-width: 480px) {
	.welcome--background {
		padding-top: 0;
	}

	.welcome--background .welcome--wrapper {
		padding: 20px 15px;
		border-radius: 0;
		height: 100vh;
	}

	.welcome--background .welcome--wrapper .welcome--wrapper__title {
		font-size: 28px;
		text-align: center;
	}

	.welcome--background .welcome--wrapper .welcome--wrapper__text {
		font-size: 16px !important;
	}

	.welcome--background .welcome--wrapper .welcome--wrapper__footer .welcome--wrapper__register,
	.welcome--background .welcome--wrapper .welcome--wrapper__footer .welcome--wrapper__login {
		text-align: center;
		font-size: 16px !important;
		margin-bottom: 10px;
		padding: 7px 0 !important;
		border-radius: 20px !important;
	}

	.welcome--background .welcome--wrapper .welcome--wrapper__footer a {
		width: 100%;
	}
}
