@import "~antd/dist/antd.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');
@import "./shared/variables";

//Pages
@import "./pages/auth";
@import "./pages/welcome";
@import "./pages/page-404";

//Components
@import "./components/sidebar.scss";
@import "./components/burger.scss";
@import "./components/header.scss";
@import "./components/dashboard.scss";

body, html {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif !important;
}

.base--layout {
  height: 100%;
  margin-left: 60px;
  transition: all .4s ease-out;
  display: flex;
  flex-direction: column;
  &.active {
    margin-left: 250px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  color: #fff;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  width: 4px;
  background-color: $border-color;
}

@media screen and (max-width: 768px) {
  .base--layout {
    margin-left: 0;

    &.active {
      margin-left: 0;
    }
  }
}
